@media only screen and (min-width: 65em){
    :root {
        --georgia: 'Noto Serif Georgian', serif;
        --space: 'Space Mono', monospace;
    
        --color1: #528676;
        --color2: #46494C;
        --color3: #E5E4E3;
        --color4: #F6AE2D;
        --color5: #34a0a4;
        --body: #000;
        --body: #fff;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 3fr 1fr;
    }
    .top-icons1 {
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    main .bottom {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-bottom: 20px;
    }
    img.top-logo {
        margin: 0 auto;
        width: 50%;
        padding-top: 8%;
    }
    .try-now {
        display: block;
        position: absolute;
        top: 920px;
        left: 1265px;
        color: #fff;
        font-size: 50px;
        background-color: var(--color4);
        border-radius: 50px;
        padding: 15px;
    }
    .nav-bar {
        display: flex;
        flex-direction: row;
        background-color: var(--color1);
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 10%;
        height: 70%;
        width: 100%;
    }

    .nav-bar :hover{
        background-color: var(--color5);
    }
    nav ul li a {
        color: #fff;
        font-size: 22px;
        list-style: none;
        text-decoration: none;
        padding-left: 5px;
        padding-right: 5px;
    }
    .section1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .weather-cards {
        font-size: 27px;
    }
    .weather-forecast {
        display: grid;
        padding-bottom: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        border: solid var(--color4) 5px;
        padding: 15px;
    }
    .juice-up {
        display: grid;
        position: absolute;
        top: 1820px;
        left: 350px;
        color: #fff;
        font-size: 50px;
        background-color: var(--color1);
        border-radius: 50px;
        padding: 15px;
      }
      .juice-up:hover{
        color: #fff;
        background-color: var(--color4);
      }
      
      .section2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      footer {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 180px 1fr 1fr;
    }
    .bottom-icons1 {
        grid-column: 3/4;
        display: flex;
        flex-direction: column;
        text-align: right;
    }
    img.bottom-logo {
        margin: 0 auto;
        width: 50%;
        padding-top: 8%;
    }
    main.fresh {
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .form-info {
        text-align: right;
    }
}